# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
**/doc/api/
**/ios/Flutter/.last_build_id

# IDE
.idea/
*.iml
.vscode/

# Platform
**/android/.gradle/
**/android/local.properties
**/ios/Pods/
**/ios/.symlinks/
